<%layout("layout/BoilerPlate.ejs") %>

    <body>
        <div class="card  m-2 p-4">
            <h2 class="fs-5 fw-bold">About Me :</h2>

            <div class="card-text p-4">

                Hey everyone, I'm Kanishk! <br><br>

                I'm an aspiring Web Developer and UI/UX Enthusiast, currently building my skills in Express.js, MongoDB,
                Bootstrap, and front-end design. I love exploring new tools and techniques to create interactive and
                visually
                appealing web experiences. <br><br>

                Right now, I'm learning to enhance layouts with Bootstrap, improve styling with CSS, and work with
                structured
                HTML for clean, professional designs. On the backend, I’ve been experimenting with Passport.js for
                authentication, Faker.js for mock data, and refining my database operations. <br><br>

                I might be in the beginner-to-intermediate phase, but I'm always learning, building, and leveling up my
                skills!
                If you're on a similar journey or just love web development, let's connect and create something awesome
                together! <br><br>

                Every project teaches me something new, and I can't wait to see where this journey takes me! <br>
            </div>
        </div>
        <div class="card  m-2 p-4">
            <h2 class="fs-5 fw-bold">Skills :</h2>

            <div class="skillsSection row">

                <div class="card-text p-4 col col-sm-12 col-md-6 col-lg-3">
                    <h2 class="fw-bold ">Front-end :</h2>
                    <li>Html</li>
                    <li>Css</li>
                    <li>Javascript</li>
                    <li>Bootstrap</li>
                    <li>React</li>
                    <li>EJS Templates</li>
                </div>

                <div class="card-text p-4 col col-sm-12 col-md-6 col-lg-3">
                    <h2 class="fw-bold">Back-end :</h2>
                    <li>ExpressJS</li>
                    <li>NodeJS</li>
                    <li>MongoDB</li>
                    <li>MySQL</li>
                </div>

                 <div class="card-text p-4 col col-sm-12 col-md-6 col-lg-3">
                    <h2 class="fw-bold">Basic Skills :</h2>
                    <li>ExpressJS</li>
                    <li>NodeJS</li>
                    <li>MongoDB</li>
                </div>

                <div class="card-text p-4 col col-sm-12 col-md-12 col-lg-6">
                    <h2 class="fw-bold">APIs & Authentication :</h2>
                    <ul class="apiAuth">
                        <p>
                            <li>Weather APIs :</li> Designed a weather dashboard with responsive elements and
                            location-based data retrieval
                        </p>
                        <p>
                            <li>Dogs APIs :</li> Developed a fun pet image generator using Bootstrap and API-driven
                            random dog images
                        </p>
                        <p>
                            <li>Dad Jokes API :</li> Integrated dad jokes into a dynamic interface with toggles,
                            animations, and custom styling
                        </p>
                    </ul>
                </div>
               

            </div>

        </div>
    </body>

    </html>