<%layout("layout/BoilerPlate.ejs") %>


    <div class="h-75 container d-flex flex-column  align-items-center mt-3 ">


        <div class="alert alert-danger alert-dismissible  text-center  mt-1 show" role="alert">
            The Route you request for Doesnot exist
        </div>

        <a href="/home" class="text-decoration-none"><button class="btn btn-primary">Home</button></a>





    </div>




    <h1></h1>