<%layout("layout/BoilerPlate.ejs") %>

    <body>

       




                <main>
                    <section class="first-section">
                        <div class="row rowSection">

                            <div class="left-sec col-sm-12 col-md-6 col-lg-7">
                                <div class="inner">
                                    Hi , My name is <span class="purple">
                                        <!-- Kanishk  -->
                                        <span id="owner"></span>

                                    </span>
                                    <div>and I am a passionated</div>
                                    <span id="element"></span>

                                </div>
                            </div>
                            <div class="right-sec col-sm-12 col-md-6 col-lg-5">
                                <a href="/about">
                                <div>
                                    <!-- <img src="/assets/dev.png" alt="dev"> -->
                                    <img src="/assets/ProfiePic.jpg" alt="dev">
                                </div>
                                </a>
                            </div>
                        </div>

                    </section>
                    <hr>


                    <section class="second-section">
                        <span class="text-gray">What i have done so far </span>

                        <h1 class="head"> Applied Learning for Real-World Expertise

                        </h1>


                        <!-- second -->
                        <div class="container mt-4">
                            <div class="row justify-content-center ">

                                <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
                                    <div class="vertical">
                                        <img src="/assets/zerodha.png" class="image-top" alt="Card image">
                                        <div class="card-body">
                                            <h5 class="card-title vertical-text">Full Stack Stock's Exchange & Trading
                                                Platform
                                            </h5>
                                            <div class="horizontal-line"></div>
                                            <p class="card-text vertical-des">Zerodha solved the problem of high
                                                brokerage fees
                                                and complex trading platforms by introducing discount brokerage and an
                                                easy-to-use trading interface, making stock trading more accessible and
                                                affordable in India.</p>
                                        </div>
                                        <span class="inspired">inspired By Air-bnb</span>
                                    </div>
                                </div>
                                <div class=" col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
                                    <div class="vertical">
                                        <img src="/assets/openAI.png" class=" image-top" alt="Card image">
                                        <div class="card-body">
                                            <h5 class="card-title vertical-text">Full Stack Gen-AI Based Chat-Bot System
                                            </h5>
                                            <div class="horizontal-line"></div>
                                            <p class="card-text vertical-des"> OpenAI is an artificial intelligence
                                                research
                                                organization founded in 2015 with the goal of developing safe and
                                                beneficial AI.
                                                It is known for creating ChatGPT, the GPT series of language models.</p>
                                        </div>
                                        <span class="inspired">inspired By OpenAI</span>
                                    </div>
                                </div>


                            </div>
                            <a href="/project"><button class="btn btn-outline-primary mt-3">More</button></a>
                        </div>
                        <!-- close -->

                    </section>
                </main>
    </body>