<%layout("layout/BoilerPlate.ejs") %>

    <body>
        <div class="container mt-4 mb-5">
            <div class="row ">

                <div class=" row col-12 d-flex justify-content-center">
                    <div class="vertical vertical-project">
                        <img src="/assets/airbnb.svg" class=" image-top" alt="Card image">
                        <div class="card-body">
                            <h5 class="card-title vertical-text">Full Stack Hotel-Booking Platform</h5>
                            <div class="horizontal-line"></div>
                            <p class="card-text vertical-des">Airbnb operates as a marketplace connecting
                                travelers with hosts who offer accommodations ranging from apartments to unique
                                stays like treehouses and castles.</p>
                        </div>
                        <div class="btnout">
                            <form action="/home/project/airbnb" method="post">
                                <button class="btn btn-success mt-3">
                                    <a class=" text-decoration-none text-white" href="https://wanderlust-air-bnb.onrender.com/listings" target="_blank">View</a>
                                </button>
                            </form>
                        </div>

                    </div>
                </div>
                <div class=" row col-12 d-flex justify-content-center">
                    <div class="vertical vertical-project">
                        <img src="/assets/zerodha.png" class="image-top" alt="Card image">
                        <div class="card-body">
                            <h5 class="card-title vertical-text">Full Stack Stock's Exchange & Trading Platform</h5>
                            <div class="horizontal-line"></div>
                            <p class="card-text vertical-des">Zerodha solved the problem of high brokerage fees and
                                complex trading platforms by introducing discount brokerage and an easy-to-use trading
                                interface, making stock trading more accessible and affordable in India.</p>
                        </div>
                        <div class="btnout">
                            <form action="/home/project/zerodha" method="post">
                                <button class="btn btn-success mt-3">View</button>
                            </form>
                        </div>

                    </div>
                </div>
                <div class=" row col-12 d-flex justify-content-center">
                    <div class="vertical vertical-project">
                        <img src="/assets/openAI.png" class=" image-top" alt="Card image">
                        <div class="card-body">
                            <h5 class="card-title vertical-text">Full Stack Gen-AI Based Chat-Bot System</h5>
                            <div class="horizontal-line"></div>
                            <p class="card-text vertical-des"> OpenAI is an Artificial Intelligence research
                                organization founded in 2015 with the goal of developing safe and beneficial AI. It is
                                known for creating ChatGPT, the GPT series of language models.</p>
                        </div>
                        <div class="btnout">
                            <form action="/home/project/openai" method="post">
                                <button class="btn btn-success mt-3">View</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class=" row col-12 d-flex justify-content-center">
                    <div class="vertical vertical-project">
                        <img src="/assets/amazon.png" class=" image-top" alt="Card image">
                        <div class="card-body">
                            <h5 class="card-title vertical-text">Full Stack E-commerce Platform</h5>
                            <div class="horizontal-line"></div>
                            <p class="card-text vertical-des"> Amazon solves multiple problems across
                                industries, making shopping, logistics, and technology more efficient. It
                                provides a vast online marketplace that eliminates the need for physical store
                                visits, ensuring convenience for customers.</p>
                        </div>
                        <div class="btnout">
                            <form action="/home/project/amazon" method="post">
                                <button class="btn btn-success mt-3">View</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>