<% if (success && success.trim().length > 0) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Kanishk : </strong> <%= success.trim() %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<% if (error && error.trim().length > 0) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Kanishk : </strong> <%= error.trim() %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>
