<header>
    <nav class="navbar navbar-expand-lg bg-dark ">
        <div class="container-fluid">
            <a href="/home" class="text-decoration-none">

                <div class="left d-flex align-items-center ">
                    <i class="fa-solid fa-code logo"></i>
                    <div class=" text-white ms-2 name ">Kanishk</div>
                </div>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fa-solid fa-bars"></i></span>
            </button>

            <div class="collapse navbar-collapse right" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class=" nav-link anchor " href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class=" nav-link anchor " href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class=" nav-link anchor " href="/project">Project</a>
                    </li>
                    <li class="nav-item contact">
                        <a class=" nav-link anchor " href="/contact">Contact Me</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
</header>